/* .group-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
} */

.group-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #343a40;
}

/* home-header.component.css */
.group-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
}

.gap-2 {
    gap: 0.5rem;
}

@media (max-width: 768px) {
    .group-header {
        flex-wrap: wrap;
        gap: 0.5rem;
    } }